.decision-tooltip, .session-tooltip, .voter-tooltip{
    position: fixed;
    line-height: 1;
    padding: 5px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    pointer-events: none;
    font-size: 12px;
}

.hyperlink-popup{
    position: fixed;
    line-height: 1;
    padding: 5px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    font-size: 12px;
}

.svg-navigation-button{
    fill:rgb(221, 221, 221);
    stroke:rgb(56, 56, 56);
    stroke-width:1;
    opacity:0.6
}

rect.selection0 {
    cursor: move !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    stroke: black;
    stroke-width: 2px;
    stroke-opacity: 1;
    fill: black;
    fill-opacity: 0.2;
  }

rect.selection1 {
    cursor: move !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    stroke: #CA0020;
    stroke-width: 2px;
    stroke-opacity: 1;
    fill: #CA0020;
    fill-opacity: 0.2;
}

#focus-filter{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000061;
}

.options-frame{
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    border-radius: 7px;
    padding: 10px;
    margin-bottom: 10px;
}

.svg-frame{
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    border-radius: 7px;
    margin-bottom: 10px;
}

.fullsize-selector{
    width: 95%;
    max-width: 400px;
}

.halfsize-selector{
    float: right;
    margin-right: 10px;
    width: 45%;
    max-width: 400px;
}
